# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BUAA2020F\ruby\ShoppingMart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
